@import url('https://fonts.googleapis.com/css2?family=Itim&family=Mr+Dafoe&family=Noto+Serif+Tamil&family=Source+Serif+Pro:wght@200&display=swap');
@import url('https://fonts.cdnfonts.com/css/old-london');

body{
    display: block;
    position: relative;
    text-align: center;
    background: #202124;
    width: 60%;
    height: 100%;
}
.pagina{
    display: inline-block;
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px;
    width: 600px;
    height: 1100px;
}
header{
    text-align: center;
    font-family: 'Old London', sans-serif;
}
header h1{
    display: block;
    position: relative;
    border-top: double 7px;
    border-bottom: double 7px;
    font-size: 80px;
    text-align-last: justify;

}
header h2{
    display: block;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 2px solid ;
    padding-top: -35px ;
    font-size: 30px;
    text-align-last: justify;
    top: -40px;
}
.container{
    position: relative;
    top: -35px;
}
.t1{
    font-size: 10px;
    position: relative;
    margin: auto;
    padding: auto;
    border: auto;
}
.t1 p{
    text-align-last: justify;
    font-family: 'Noto Serif Tamil', serif;
    width: 250px;
    text-indent: 30px;
}
.img1{
    position: absolute;
    top: 0;
    right: 0;
}

.imgg1{
    position: relative;
    height: 230px;
    width: 305px;
    left: -10px;
}
.img1 h3{
    position: relative;
    font-size: 30px;
    left: -10px;
    font-family: 'Old London', sans-serif;
    text-align: justify;
    top:-15px
}
.container2{
    position: relative;
    display: block;
    text-align: start;
    height: 215px;
    width: 295px;
    border-radius: 15px;
    border-style:double dotted;
    padding-top: -30px;
    margin-right: 15px;
}
.container2 h2{
    position: relative;
    font-family: 'Source Serif Pro', serif;
    font-size: 45px;
    padding-bottom: -50px;
    margin-bottom: -100px;
    right: -12px;
    top: -30px;
}
.container2 h3{
    position: relative;
    font-family: 'Mr Dafoe', cursive;
    font-size:70px;
    margin-bottom: -20px;
    right: -12px;
    top: -40px;
    z-index: 10;
}
.container2 p{
    font-size: 10px;
    position: relative;
    margin: auto;
    padding: auto;
    border: auto;
    font-family: 'Noto Serif Tamil', serif;
    top: -30px;
    text-align-last: justify;
    width: 220px;
}
.container2 img{
    position: relative;
    top: -240px;
    left: 195px;
    width: 85px;
    height: 100px;
}

.container3{
    position: relative;
    display: block;
    text-align: start;
    height: 198px;
    width: 315px;
    top: -15px;
    border-bottom: 1px solid;
}
.container3 h3{
    font-family: 'Old London', sans-serif;
    font-size: 25px;
}
.container3 p{
    font-size: 10px;
    position: relative;
    font-family: 'Noto Serif Tamil', serif;
    text-align-last: justify;
    width: 170px;
    top: -10px;
    z-index: 10;
    text-indent: 30px;
}

.container3 img{
    position: relative;
    height: 148px;
    width: 150px;
    left: 160px;
    top: -155px;
}
.container4{
    position: relative;
    display: block;
    width: 260px;
    text-align:center;
    right: -315px;
    top: -471px;
    padding-left: 15px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    text-indent: 30px;
    height: 455px;
}
.container4 img {
    padding-top: 10px;
    width: 230px;
    height: 100px;
    border-bottom: 0.5px solid;
}
.container4 .p1 {
    font-family: 'Noto Serif Tamil', serif;
    font-size: 10px;
    text-align-last: justify;

}
.container4 .p11{
    position: relative;
    font-family: 'Noto Serif Tamil', serif;
    font-size: 10px;
    text-align-last: left;
    text-align: start;
    top:-10px;
    left: -30px;
}

.container4 .p2{
    position: relative;
    font-family: 'Noto Serif Tamil', serif;
    font-size: 10px;
    text-align-last: justify;
    top:-20px;
}
.container4 .p22{
    position: relative;
    font-family: 'Noto Serif Tamil', serif;
    font-size: 10px;
    text-align-last: left;
    text-align: start;
    top:-19px;
    left: -30px;
}
.container4 .p3{
    position: relative;
    font-family: 'Noto Serif Tamil', serif;
    font-size: 10px;
    text-align-last: justify;
    top:-18px;
}

.footer {
    position: relative;
    top: -485px;
}
.footer p{
    position: relative;
    border-bottom: 1px solid;
    text-align: center;
    font-size: 25px;
   
}
.footer .imgg5{
    position: relative;
    height: 65px;
    width: 100px;
    top: -78px;
    right:150px
}
.footer .imgg6{
    position: relative;
    height: 64px;
    width: 100px;
    top: -78px;
    left:150px

}